.applications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .table {
    width: 75%;
  }

  .details {
    margin-top: 2rem;
    width: 75%;
  }
}
